<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Regular register</title>
    </head>
    <body style="font-family: monospace; font-size: 14px">
        <h1>Regular Register</h1>
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="name" />
            <input type="text" name="email" placeholder="email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Register" />
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Want to go Root Page? <a href="/">Back to Homepage</a></p>
    </body>
</html>
